@import "./variables";
@import "./properties";

header {
    @include flexCenter();

    background: DodgerBlue;
    height: 60px;    
    color: $headColour;

    h2 {
        font-size: 30px;
        &:hover {
            color: blue;
        }
    }

    button {
        @include border(solid, #ccc, 18px);
        background: grey;
        padding: 8px 18px;
        margin: 10px 10px 10px 10px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
    }

}
