@import "./variables";
@import "./header";
@import "./footer";

.content {
    margin-top: 100px;    
    display: flex;
    justify-content: center;
    width: 100%;
    
    select, input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        background-color: $submitBtn;
        color: $txtColour;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        &:hover{
            background-color: #45a049;
        }
    }

}
