@import "./header";
@import "./footer";
@import "./variables";
@import "./properties";

.content {
    @include flexCenter();
    margin-top: 100px + 10px;
    width: 100%;
    
    input {
        @include border(solid, #ccc, 6px);
        @include font(15px, italic, normal);
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
    }

    select {
        @extend input;
        @include font(16px, normal, bold);
    }

    button {
        @include border(outset, lightgreen, 6px);
        @include font(15px, normal, normal);
        width: 100%;
        background-color: $submitBtn;
        color: $txtColour;
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        &:hover {
            background-color: #45a049;
        }
    }

    label {
        @include font(20px, italic, bold);
        color: $lblColour;
        padding: 8px;
        &::after {
            content: " :- ";
        }
    }

}
